# Ignore SYSTEM FILES
.DS_Store
.AppleDouble
.LSOverride
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# 1. Ignore everything in the root directory
/*

# 2. Allow the .gitignore, README, assets and src folder
!/.gitignore
!/README.md
!/assets/
!/src/

# 3. Filter heavy / non-essential stuff INSIDE src
src/Dataset-V1-Roboflow/
src/Unseen-Test-Data-Roboflow/
src/PowerLogs-V1/
src/Training/runs/
src/runs/
src/exports-V1/
src/**/*.pt
src/**/*.mlpackage
src/**/__pycache__/
